html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}
body{
    display: table-cell;
    vertical-align: middle;
    background-color: #fafafa;
}

.naslov {
    text-align: center;
    color: green;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
}

img:hover {
    border: 5px solid red; 
}

#search {
    width: 200px;
    height: 20px;
    border: 2px solid black;
}

.info {
    padding-left: 30px;
    background-color: white;
}

#iskalnik {
    padding-left: 10px;
}

.gumb {
    background-color: blue;
    color: white;
    padding: 15px;
    margin: 0 auto;
}

.rdec {
    border: 2px solid black;
    background-color: red;
    width: auto;
}

.info strong{
    color: blue;
}
#centriraj {
    text-align:center;
}

